.message{
  display: flex;
  align-items: center;
  padding: 20px;
  color: white;
}

.message__info{
  margin-left: 15px;
}

.message__timestamp{
  color: gray;
  margin-left: 15px;
  font-size: x-small;
}
